.brimboriumGesture {
    border: 1px solid #ffffff;
}

.brimboriumGestureHandle{
    border: 4px dashed #ffffffc0;
    cursor: pointer;
}
.brimboriumGestureAndHandle{
    border-width: 4px;
    cursor: pointer;
}